
mixin footer()
	-
		var nav= { 
			"Услуги":"#",
			"Портфолио":"#",
			"Новости":"#" ,
			"Контакты":"#",
			"О компании":"#",
			"Eng":"#",
			}
	-
	+b.FOOTER.footer
		.container-wide
			.row
				.col-auto.col-lg-2.col-logo
					+logo()
				.col-12.col-lg-4.col-menu
					+e.UL.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
						each linkPatch, linkName in nav
							+e.LI.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName
				.col-12.col-lg-3.col-btn
					+e.BUTTON.btn 
						img(src="img/svg/download.svg", alt="")
						span Скачать презентацию
				.col-12.col-lg-3.col-adress
					+e.UL.adress
						li
							span Москва, ул. Земляной вал, д. 46, офис 41
						li 
							a(href="mailto:info@ddvb.ru") info@ddvb.ru
						li 
							a(href="tel:+74959160123") +7 (495) 916-01-23
					+e.A.policy(href="#") Политика конфиденциальности
				//- .col-12.col-lg-6.col-policy
				.col-auto.col-copy
					+e.copyright © 2021 -2022, ddvb
				.col-auto.col-dev
					+e.developer(href="#")
						+icon('coalla-logo')
						span Сделано в Coalla Agency
					+e.A.lang(href="#") Eng