mixin company-item(i)
	+e.item.col-sm-auto.col-6 
		+pic(`awards-img-${i}`, ``, 0)

mixin sAwards(data)
	// start sAwards
	+b.sAwards.section#sAwards&attributes(attributes)
		.container
			h3 Награды
			p DDVB насчитывает более 150 наград престижных конкурсов в&nbsp;области брендинга, дизайна и&nbsp;рекламы, а&nbsp;также ряда публикаций в&nbsp;профильных зарубежных СМИ.
		.container-wide
			.container
				+e.company-list
					.row
						+company-item(1)
						+company-item(2)
						+company-item(3)
						+company-item(4)
						+company-item(5)
						+company-item(6)
						+company-item(7)
						+company-item(8)
						+company-item(9)
						+company-item(10)
						+company-item(11)
						+company-item(12)
						+company-item(13)
						+company-item(14)
						+company-item(15)
						+company-item(16)
						+company-item(17)
	// end sAwards