// start .sAwards
.sAwards {
	--sPT: #{rem(28)};
	--sPB: 0;
	p{
		line-height: 2;
	}
		// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(32)};
		--sPB: 0;
	}
	h3 {
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(16);
		}
	}
	p {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(32);
		}
	}
	.container-wide{
	@include media-breakpoint-up(md) {
		max-width: calc(1280px);

	}
	@media (min-width: 1460px) {
		max-width: calc(1680px);
	}
		background-color: #FAFAFA;
	}
	&__company-list {
		 .row{
			 --bs-gutter-y: 40px;
			 @include media-breakpoint-up(lg) {
				 --bs-gutter-x: 70px;
			 } 

		 }

		padding-top: rem(26);
		padding-bottom: rem(32);
		margin-left: calc(32 * -1px / 2);
		margin-right: calc(32 * -1px / 2);
		text-align: center;
		align-items: center;
		@include media-breakpoint-up(lg) {
			// margin-left: auto;
			// margin-right: auto;
			// max-width: 1280px;
			padding-top: rem(32);
			padding-bottom: rem(36);
			justify-content: flex-start;
		}
		img{
			max-width: 140px;
		}
		@include media-breakpoint-up(md) {
			// justify-content: flex-start;
		}
		@include media-breakpoint-up(sm) {
			margin-left: 0;
			margin-right: 0;
		}
	}
	&__item{
		// max-width: 50%;
	}
	&__company-list{
		
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAwards