mixin sCard(btn, preloader)
	// start sCard
	+b.sCard.section&attributes(attributes)
		.container-wide
			.row
				block
			if btn
				+btn-more(`#`, `${btn}`)
			if preloader
				+purePreloader()
	// end sCard