mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container-wide
			+b.section-title
				h2 Новости и&nbsp;события
			.row
				.col-md-6
					+news-item(1, `Дмитрий Пёрышков в&nbsp;жюри премии WOW Awards`, `21 января`)
				.col-md-6
					+news-item(2, `Леонид Фейгин о&nbsp;новом логотипе ZARA`, `21 января`)
			+btn-more(`#`, `Ещё новости`)

	// end sNews