// start .sNews
.sNews {
	--sPT: #{rem(32)};
	--sPB: #{rem(64)};
	--sTPB: #{rem(32)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(52)};
		--sPB: #{rem(80)};
		--sTPB: #{rem(40)};
	}
	h3 {
		white-space: normal;
	}
	&--full {
		--sPT: #{rem(40)};
		@include media-breakpoint-up(md) {
			--sPT: #{rem(48)};
		}
		.container-wide {
			.row {
				--bs-gutter-y: #{rem(48)};
				@include media-breakpoint-up(md) {
					--bs-gutter-y: #{rem(64)};
				}
			}
		}
	}

	.section-title {
		h2 {
			text-align: center;
			@include media-breakpoint-up(md) {
				text-align: left;
			}
		}
	}

	.row {
		--bs-gutter-y: 64px;
		@include media-breakpoint-up(md) {
			--bs-gutter-y: #{rem(47)};
			--bs-gutter-x: #{rem(16)};
		}
	}
	.btn-more {
		margin-top: rem(32);
		@include media-breakpoint-up(md) {
			margin-top: rem(24);
		}
	}
	.services-list {
		margin-bottom: 0;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sNews
