mixin sNews(title, btn, page)
	// start sNews
	+b.sNews.section#sNews&attributes(attributes)
		if page
			if title
				.container
					+b.section-title
						h2!= title
		.container-wide
			if !page && title
					+b.section-title
						h2!= title
			.row
				block
			if btn
				+btn-more(`#`, `${btn}`)

	// end sNews