@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-behance-stroke {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-chevron-right {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-chevron-right-sm {
	font-size:math.div(8,10)*1rem;
	width: math.div(8,8)*1em;
}
.icon-coalla-logo {
	font-size:math.div(16,10)*1rem;
	width: math.div(28,16)*1em;
}
.icon-email {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-facebook-stroke {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram-stroke {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-map-marker {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-phone {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-telegram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-work-time {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-youtube-stroke {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
