// start .sServiceCite
.sServiceCite {
	--sPT: #{rem(16)};
	--sPB: #{rem(4)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(40)};
		--sPB: #{rem(32)};
	}
	// --sTPB: ;
	p {
		margin-bottom: rem(9);
	}
	figure {
		position: relative;
		.icon {
			position: absolute;
			font-size: rem(14);
			top: rem(10);
			left: 0;
			color: $primary;
			@include media-breakpoint-up(lg) {			
				left: rem(-29);
			}
		}
		picture {
			position: absolute;
			min-width: rem(40);
			bottom: 0;
			left: 0;
			@include media-breakpoint-down(lg) {
				left: 30px;
			}
		}
		blockquote {
			font-size: rem(22);
			margin-left: rem(33);
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
				margin-left: 0;
			}
		}
		figcaption {
			display: inline-block;
			margin-left: rem(78);
			font-weight: 600;
			font-size: rem(14);
			@include media-breakpoint-up(lg) {
				margin-left: rem(48);
			}
		}
		cite {
			font-size: rem(13);
			font-weight: 400;
			font-style: normal;
			color: $secondary-light;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sServiceCite

cite{
	font-style: normal;
}