extends layout/main.pug


include ../blocks/sServiceHead/_sServiceHead.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sVacAccardion/_sVacAccardion.pug
include ../blocks/sCard/_sCard.pug

block variables
	- let  mainPage= '' 
	- let  bg= '3-1-Service.jpg'

block title
	- let  title= 'Услуги'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+page-head(title)
	+sServiceHead()
		+servicesDescription("Процесс создания брендов мы&nbsp;понимаем комплексно и&nbsp;можем взять на&nbsp;себя весь спектр работ&nbsp;&mdash; от&nbsp;проведения маркетинговых исследований до&nbsp;тестирования и&nbsp;реализации собственных творческих разработок.")
		+servicesList()
			+servicesItem('Все услуги')
			+servicesItem('Потребительский брендинг')
			+servicesItem('Корпоративный брендинг')
			+servicesItem('Стратегия').active
			+servicesItem('Продвижение')
		.col-12 
			+ddGroup()
				+ddGroupItem('Стратегия', '', 'Мы&nbsp;уверены, что именно смысл является истинным преимуществом сильного бренда. А&nbsp;смыслы рождаются в&nbsp;сознании людей. Наш подход&nbsp;HX (human experience), сфокусированный на&nbsp;человеческих потребностях, эмоциях и&nbsp;восприятиях, обеспечивает взаимопонимание между бизнесом и&nbsp;потребителем. Используя методики социальной психологии и&nbsp;личностный анализ, мы&nbsp;формируем ценностное предложение, которое в&nbsp;дальнейшем ложится в&nbsp;основу вербальных и&nbsp;визуальных коммуникаций, помогая бизнесу вести с&nbsp;людьми взаимовыгодный и&nbsp;результативный диалог.')
					+ddContent2('Собираем и анализируем информацию')
						+ddContent('Аудит бренда')
						+ddContent('Глубинные и экспертные интервью')
						+ddContent('Кабинетные исследования')
						+ddContent('Внешние исследования (супервайзинг)')
						+ddContent('Стратегические сессии и воркшопы')
					+ddContent2('Формируем смысловое наполнение')
						+ddContent('Позиционирование')
						+ddContent('Платформа бренда')
						+ddContent('EVP HR бренда (с принципами корпоративной культуры)')
					+ddContent2('Создаём структуру')
						+ddContent('Бренд–архитектура')
						+ddContent('Ассортиментная матрица')
					+ddContent2('Формируем принципы общения с аудиторией')
						+ddContent('Коммуникационная стратегия')
		+downloadLink('Скачать презентацию (PDF)')
	+sCard(`Портфолио по стратегии`).indent-bottom
		.col-md-12
			+cardItem('Выбери цвет настроения!', 'Стратегия', 'card-bg-1.jpg').--horizontal.text-lg-white
		.col-md-6 
			+cardItem('Еще один проект для любимого бренда', 'Продвижение, Стратегия', 'card-bg-2.jpg').text-lg-white
		.col-md-6
			+cardItem('Ничего лишнего', 'Продвижение, Стратегия', 'card-bg-3.jpg')
	//- +sNumbers
	//- +sCases
	//- +sForm()
	//- +sContact()
	+footer()
      



