extends layout/main.pug


include ../blocks/sServiceHead/_sServiceHead.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sVacAccardion/_sVacAccardion.pug
include ../blocks/sCard/_sCard.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sServiceCite/_sServiceCite.pug
include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= null
	- let  bg= '3-1-Service.jpg'

block title
	- let  title= 'Услуги'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+mainSlider().--service
		+mainSliderItem('slide-lg-2', 'slide-sm-2', 'Bakerton. Детское питание Сады Придонья: Расширение линейки', 'Потребительский брендинг')
		+mainSliderItem('slide-lg-2', 'slide-sm-2', 'Bakerton. Детское питание Сады Придонья: Расширение линейки', 'Потребительский брендинг')
		+mainSliderItem('slide-lg-2', 'slide-sm-2', 'Bakerton. Детское питание Сады Придонья: Расширение линейки', 'Потребительский брендинг')
		
	+b.sServiceHead.section.pb-0
		.container
			+servicesList()
				+servicesItem('Стратегия')
				+servicesItem('Корпоративный брендинг')
				+servicesItem('Продвижение')
	+b.sServiceHead.section.pt-0
		.container
			+servicesDescription("Разработка системы визуальной коммуникации и&nbsp;архитектуры бренда корпоративной социальной программы Металлоинвеста")
		+sCard(``)
			.col-md-6
				+cardItem('', '', 'card-bg-4.jpg')
			.col-md-6 
				+cardItem('', '', 'card-bg-5.jpg')
		+ddGroup()
			+ddGroupItem('Ситуация', '', 'Корпоративная социальная программа «Вместе» реализуется Металлоинвестом и направлена на создание условий для развития регионов присутствия.  ')
			+ddGroupItem('Задача', '', 'Разработать архитектуру и гибкую систему визуальной коммуникации для разных типов носителей. В едином фирменном стиле дифференцировать')
			+ddGroupItem('Решение', '', '&laquo;Вместе &raquo;&nbsp;&mdash; строится будущее руками каждого, кому небезразлично настоящее. Инициативы граждан Металлоинвест реализует вместе с&nbsp;ними. Архитектура &laquo;Вместе&raquo; вмещает под своим зонтиком разные направления: &laquo;Вместе со&nbsp;спортом&raquo;, &laquo;Вместе с&nbsp;культурой&raquo;, &laquo;Вместе с&nbsp;призванием&raquo;')
				+b.sContent.section
					.container
						ol
							li Nam luctus orci non suscipit mollis
							li Proin suscipit placerat turpis, vitae fermentum turpis auctor vel
								ol
									li Donec scelerisque massa nec sapien tempus consectetur
									li Morbi vehicula mauris neque
							li Quisque aliquet nibh nec egestas faucibus
				+sCard(``,``, slider)
					.col-md-12
						+e.slider--js.swiper
							.swiper-wrapper
								- for (var x = 0; x < 3; x++)
									+e.slide.swiper-slide
										+pic("card-bg-6.jpg")
							+arrow
							.swiper-pagination.d-lg-none
				//- +sServiceCite()
				+b.sContent.section
					.container
						p Quisque ut&nbsp;consectetur risus, in&nbsp;rhoncus urna. Aenean pellentesque, velit id&nbsp;suscipit pharetra, tortor est egestas dolor, non congue sem nunc quis leo. #[a(href="#") Donec non purus] venenatis, congue lectus nec, volutpat dui. Donec non orci et&nbsp;justo pulvinar tincidunt et&nbsp;vel enim. Cras at&nbsp;nulla massa. Nulla metus enim, consequat eu&nbsp;ante vel, posuere tempor massa. Vestibulum viverra luctus posuere.
						blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida magna ac vehicula volutpat. Nam non aliquam magna. Etiam et consectetur purus.
						+b.author-block
							+pic('cite-photo', '', 0)
							figcaption Даша Данилычева <br>
								cite Дизайнер проекта
				+sVideo()
				+b.sContent.section.pb-0
					.container
						p Иллюстрации&nbsp;&mdash; детально проработанные&nbsp;&mdash; в&nbsp;связке с&nbsp;логотипом акцентуализируют коммуникацию. Их&nbsp;взаимодействие с&nbsp;фирменным стилем универсально, и&nbsp;при необходимости, взаимозаменяемо. Мы&nbsp;предусмотрели и&nbsp;расширение числа иллюстраций программы и&nbsp;прописали в&nbsp;гайде требования к&nbsp;их&nbsp;разработке, чтобы любая инициатива могла быть ярко обозначена на&nbsp;любом носителе.
						p Иллюстрации&nbsp;&mdash; детально проработанные&nbsp;&mdash; в&nbsp;связке с&nbsp;логотипом акцентуализируют коммуникацию. Их&nbsp;взаимодействие с&nbsp;фирменным стилем универсально, и&nbsp;при необходимости, взаимозаменяемо.
				+sCard(``)
					.col-md-6
						+cardItem('', '', 'card-bg-5.jpg')
					.col-md-6 
						+cardItem('', '', 'card-bg-10.jpg')
				+b.sServiceHead--for-what.section.pt-0
					.container
						+servicesDescription("Иллюстрации&nbsp;&mdash; детально проработанные&nbsp;&mdash; в&nbsp;связке с&nbsp;логотипом акцентуализируют коммуникацию. Их&nbsp;взаимодействие с&nbsp;фирменным стилем универсально, и&nbsp;при необходимости, взаимозаменяемо. Мы&nbsp;предусмотрели и&nbsp;расширение числа иллюстраций программы и&nbsp;прописали в&nbsp;гайде требования к&nbsp;их&nbsp;разработке, чтобы любая инициатива могла быть ярко обозначена на&nbsp;любом носителе.")
	+b.sServiceHead--for-what.section.p-0
		.container
			+servicesList()
				+servicesItem('Стратегия')
				+servicesItem('Корпоративный брендинг')
				+servicesItem('Продвижение')
	+sNews('Для этого клиента делали')
		+news-item('1-1', `Халзан: новые истории любимого героя`, ``, `links`)
			+servicesList()
				+servicesItem('Стратегия')
				+servicesItem('Корпоративный брендинг')
				+servicesItem('Продвижение')
		+news-item('2-1', `Проект для любимого бренда Valio`, ``, `links`)
			+servicesList()
				+servicesItem('Продвижение')
		+news-item('3-1', `Халзан: новые истории любимого героя`, ``, `links`)
			+servicesList()
				+servicesItem('Корпоративный брендинг')
				+servicesItem('Продвижение')
		+news-item('4-1', `Проект для любимого бренда Valio`, ``, `links`)
			+servicesList()
				+servicesItem('Корпоративный брендинг')
				+servicesItem('Продвижение')
		+purePreloader()
	//- +sNumbers
	//- +sCases
	//- +sForm()
	//- +sContact()
	+footer()
      



