extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sServiceHead/_sServiceHead.pug
include ../blocks/sCard/_sCard.pug
include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= 'portfolio' 
	- let  bg= null

block title
	- let  title= 'Портфолио'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+page-head(title, 'true')
	+sServiceHead().sServiceHead
		.filter__content-block.active#tab1
			+servicesList().--indent.--portfolio
				+servicesItem("Напитки")
				+servicesItem("Мясные продукты")
				+servicesItem("Молочные и НЕмолочные продукты")
				+servicesItem("Бакалея и кондитерские изделия")
				+servicesItem("Фармацевтика")
				+servicesItem("Дети и здоровье")
				+servicesItem("Финансы и девелопмент")
				+servicesItem("Государственные организации и программы")
				+servicesItem("Добывающая промышленность")
				+servicesItem("Технологии")
				+servicesItem("Товары и услуги для детей")
				+servicesItem("Бытовая химия и товары для дома")
				+servicesItem("Социально значимые проекты и госпрограммы")
			+serviceDropdown()
		.filter__content-block#tab2
			+servicesList().--indent.--portfolio
				+servicesItem("Напитки")
				+servicesItem("Мясные продукты")
				+servicesItem("Молочные и НЕмолочные продукты")
				+servicesItem("Бакалея и кондитерские изделия")
				+servicesItem("Фармацевтика")
				+servicesItem("Дети и здоровье")
				+servicesItem("Финансы и девелопмент")
				+servicesItem("Государственные организации и программы")
				+servicesItem("Добывающая промышленность")
				+servicesItem("Технологии")
				+servicesItem("Товары и услуги для детей")
				+servicesItem("Бытовая химия и товары для дома")
				+servicesItem("Социально значимые проекты и госпрограммы")
			+serviceDropdown()
	+sCard(``, `preloader`)
		.col-md-12
			+cardItem('Bakerton. Выбери цвет настроения!', 'Потребительский брендинг', 'main-bg').--horizontal
		.col-md-6 
			+cardItem('SNS. Ничего лишнего', 'Продвижение, Стратегия', 'main-bg-2').text-white
		.col-md-6
			+cardItem('Nemoloko. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'card-bg-3')
		.col-md-12
			+cardItem('Valio. Clean design for &laquo;Сlean label&raquo;', 'Продвижение, Стратегия', 'main-bg-3').--horizontal
		.col-md-6 
			+cardItem('Valio. Еще один проект для любимого бренда', 'Продвижение, Стратегия', 'card-bg-2').text-white
		.col-md-6
			+cardItem('Woolite. Чистый кератин', 'Продвижение, Стратегия', 'main-bg-4')
		.col-md-12
			+cardItem('Bakerton. Выбери цвет настроения!', 'Потребительский брендинг', 'main-bg').--horizontal
		.col-md-6 
			+cardItem('SNS. Ничего лишнего', 'Продвижение, Стратегия', 'main-bg-2').text-white
		.col-md-6
			+cardItem('Nemoloko. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'card-bg-3')
		.col-md-12
			+cardItem('Valio. Clean design for &laquo;Сlean label&raquo;', 'Продвижение, Стратегия', 'main-bg-3').--horizontal
		.col-md-6 
			+cardItem('Valio. Еще один проект для любимого бренда', 'Продвижение, Стратегия', 'card-bg-2').text-white
		.col-md-6
			+cardItem('Woolite. Чистый кератин', 'Продвижение, Стратегия', 'main-bg-4')
	//- +sNumbers
	//- +sCases
	//- +sForm()
	//- +sContact()
	+footer()



