extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sPorfolioSlider/_sPorfolioSlider.pug
include ../blocks/sCard/_sCard.pug



block variables
	- let  mainPage= '' 
	- let  bg= none

block title
	- let  title= 'Команда'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+page-head(title)
		+breadcrumb('Главная','О компании', title)
	+sTeam({
		ad: true
	})
	+sPorfolioSlider()
	+sCard().sCard--portfolio
		.col-md-12
			+cardItem('Хочешь стать частью команды?', '', 'portfolio-bg-1.jpg' ,'Оставить заявку').--horizontal
	//- +sNumbers
	//- +sCases
	//- +sForm()
	//- +sContact()
	+footer()
      



