extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sVacAccardion/_sVacAccardion.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '12-1-About-company-work.png'

block title
	- let  title= 'Вакансии'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+page-head(title)
		+breadcrumb('Главная','О компании', title)
	+sVacAccardion()
	//- +sNumbers
	//- +sCases
	//- +sForm()
	//- +sContact()
	+footer()
      



