extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sServiceHead/_sServiceHead.pug
include ../blocks/sCard/_sCard.pug
//- include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= '' 
	- let  bg= null

block title
	- let  title= 'Результаты поиска по тегу «Корпоративный стиль»'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+page-head(title)
	+formBlock({
		text: '12 результатов',
		form: false,
		btn: false
	})
	+sCard()
		.col-md-6
			+cardItem('Valio. Выбери цвет настроения!', 'Продвижение, Стратегия', 'main-bg', 1).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'main-bg-3', 2).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Корпоративный брендинг', 'card-bg-7', 3).--horizontal.--search
		.col-md-6
			+cardItem('Valio. Выбери цвет настроения!', 'Продвижение, Стратегия', 'card-bg-8', 4).--horizontal.--search.text-white
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'main-bg-3', 2).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Корпоративный брендинг', 'card-bg-9', 6).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Корпоративный брендинг', 'card-bg-7', 3).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Корпоративный брендинг', 'main-bg', 2).--horizontal.--search
		.col-md-6
			+cardItem('Valio. Выбери цвет настроения!', 'Продвижение, Стратегия', 'main-bg', 1).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'main-bg-3', 2).--horizontal.--search
		.col-md-6
			+cardItem('Valio. Выбери цвет настроения!', 'Продвижение, Стратегия', 'card-bg-8', 4).--horizontal.--search.text-white
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'card-bg-7', 3).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'main-bg-3', 2).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'card-bg-9', 6).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'card-bg-7', 3).--horizontal.--search
		.col-md-6
			+cardItem('Bakerton. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'main-bg', 1).--horizontal.--search
		+purePreloader()
	//- +sNumbers
	//- +sCases
	//- +sForm()
	//- +sContact()
	+footer()



