extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+sNews(`Новости и события`, `Ещё новости`)
		+news-item(1, `Дмитрий Пёрышков в&nbsp;жюри премии WOW Awards`, `21 января`)
		+news-item(2, `Леонид Фейгин о&nbsp;новом логотипе ZARA`, `21 января`)
	//- +sNumbers
	//- +sCases
	//- +sForm()
	//- +sContact()
	+footer()



