extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sServiceHead/_sServiceHead.pug
include ../blocks/sCard/_sCard.pug
include ../blocks/sNews/_sNews.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	//- +page-head-slider(`Valio. Clean design for &laquo;Сlean label&raquo;`, 'Потребительский брендинг', 'page-head-bg-1')
	+mainSlider()
		+e.slide.swiper-slide
			+e.bg.bg-wrap
				video(autoplay="" class="lf-image-cover lf-hero-video" loop="" muted="" playsinline="" preload="metadata" uk-video="")
					<source src="video/banner.83a0b3e58243.mp4" type="video/mp4">
			+e.inner
				.container
					+e.text-wrap
						.h1 Valio. Clean design for &laquo;Сlean label&raquo; dsasdasdasd
						p Потребительский брендинг g 
		+mainSliderItem('slide-lg', 'slide-sm', 'Valio. Clean design for &laquo;Сlean label&raquo; dsasdasdasd', 'Потребительский брендинг')
		+mainSliderItem('slide-lg', 'slide-sm', 'Valio. Clean design for &laquo;Сlean label&raquo;', 'Потребительский брендинг')
		+mainSliderItem('slide-lg', 'slide-sm', 'Valio. Clean design for &laquo;Сlean label&raquo; sadsada', 'Потребительский брендинг dasdasdasd')
	+sServiceHead()
		+servicesDescription("Процесс создания брендов мы&nbsp;понимаем комплексно и&nbsp;можем взять на&nbsp;себя весь спектр работ&nbsp;&mdash; от&nbsp;проведения маркетинговых исследований до&nbsp;тестирования и&nbsp;реализации собственных творческих разработок.").order-md-last
		+servicesGoods('5768', 'выполненных проектов', 'number-4')
		+servicesGoods('4000', 'довольных клиентов', 'number-4')
		+servicesGoods('900', 'светлейших головы', 'number-3')
		+servicesGoods('90', 'наград за&nbsp;проекты', 'number-2').--indent
	.container
		+b.UL.services-list--indent
			+servicesItem("Все услуги")
			+servicesItem("Потребительский брендинг")
			+servicesItem("Корпоративный брендинг")
			+servicesItem("Стратегия")
			+servicesItem("Продвижение")
	+sCard(`Все работы`)
		.col-md-12
			+cardItem('Bakerton. Выбери цвет настроения!', 'Потребительский брендинг', 'main-bg').--horizontal
		.col-md-6 
			+cardItem('SNS. Ничего лишнего', 'Продвижение, Стратегия', 'main-bg-2').text-white
		.col-md-6
			+cardItem('Nemoloko. Это вам&nbsp;&mdash; Nemoloko!', 'Продвижение, Стратегия', 'card-bg-3')
		.col-md-12
			+cardItem('Valio. Clean design for &laquo;Сlean label&raquo;', 'Продвижение, Стратегия', 'main-bg-3').--horizontal
		.col-md-6 
			+cardItem('Valio. Еще один проект для любимого бренда', 'Продвижение, Стратегия', 'card-bg-2').text-white
		.col-md-6
			+cardItem('Woolite. Чистый кератин', 'Продвижение, Стратегия', 'main-bg-4')
	+sNews(`Новости и события`, `Ещё новости`)
		+news-item(1, `Дмитрий Пёрышков в&nbsp;жюри премии WOW Awards`, `21 января`)
		+news-item(2, `Леонид Фейгин о&nbsp;новом логотипе ZARA`, `21 января`)
	//- +sNumbers
	//- +sCases
	//- +sForm()
	//- +sContact()
	+footer()



