mixin sHistory-yell()
	// start sHistory-yell
	+b.head-wrapper.bg-wrap
		picture.picture-bg
			// 992px
			source(type='image/jpg' srcset=`img/@2x/slide-sm.jpg`  media='(min-width:992px)')
			// /992px 
			img.object-fit-js(src=`img/@2x/slide-sm.jpg` alt='' ) 
		.row
			+e.col.col-lg-6
				h2 Придаём брендам человеческое лицо,
				p помогая им&nbsp;адаптироваться и&nbsp;процветать в&nbsp;мире множества взаимосвязей
			.col-lg-6
				+pic('sHistory-bg', '', 0)
	// end sHistory-yell 

mixin sHistoryText(...texts)
	each text in texts 
		p!= text

mixin sHistory(data)
	// start sHistory
	+b.sHistory.section#sHistory&attributes(attributes)
		if data.ad
			+mainSlider().--service
				+mainSliderItem('slide-lg-2', 'slide-sm-2', 'Bakerton. Детское питание Сады Придонья: Расширение линейки', 'Потребительский брендинг')
				+mainSliderItem('slide-lg-2', 'slide-sm-2', 'Bakerton. Детское питание Сады Придонья: Расширение линейки', 'Потребительский брендинг')
				+mainSliderItem('slide-lg-2', 'slide-sm-2', 'Bakerton. Детское питание Сады Придонья: Расширение линейки', 'Потребительский брендинг')
		.container
			block
	// end sHistory
	
