mixin sHistory-yell()
	// start sHistory-yell
	+b.head-wrapper
		.row 
			+e.col.col-lg-6
				h2 Придаём брендам человеческое лицо,
				p помогая им&nbsp;адаптироваться и&nbsp;процветать в&nbsp;мире множества взаимосвязей
			.col-lg-6
				+pic('sHistory-bg', '', 0)
	// end sHistory-yell 

mixin sHistory(data)
	// start sHistory
	+b.SECTION.sHistory.section#sHistory&attributes(attributes)
		.container
			if data.ad
				+b.head-wrapper
					.row 
						+e.col.col-lg-6
							h2 Придаём брендам человеческое лицо,
							p помогая им&nbsp;адаптироваться и&nbsp;процветать в&nbsp;мире множества взаимосвязей
						.col-lg-6
							+pic('sHistory-bg', '', 0)
			p Компания была основана в&nbsp;1993 году Леонидом Фейгиным и&nbsp;Дмитрием Перышковым в&nbsp;качестве дизайн-студии, но&nbsp;уже в&nbsp;скором времени успешно трансформировалась в&nbsp;полносервисное брендинговое агентство. Мы&nbsp;сыграли заметную роль в&nbsp;развитии индустрии брендинга в&nbsp;России, и&nbsp;продолжаем оставаться драйверами развития отрасли. На&nbsp;протяжении последних десятилетий мы&nbsp;работаем с&nbsp;лидерами российской экономики: бюджет наших клиентов формирует&nbsp;10% доходной части бюджета Российской Федерации.
			p Особая гордость&nbsp;&mdash; это команда, которая объединяет более 40&nbsp;сильных и&nbsp;амбициозных экспертов в&nbsp;области стратегии, дизайна и&nbsp;коммуникации. Это позволяет создавать нам разные брендинговые проекты: продуктовые, корпоративные, HR, территориальные и&nbsp;др.
			p DDVB входит в&nbsp;Ассоциацию брендинговых агентств России, регулярно получает призы на&nbsp;российских и&nbsp;международных фестивалях. Наши специалисты делятся опытом в&nbsp;ведущих учебных заведениях страны, входят в&nbsp;состав жюри, разрабатывают новые подходы в&nbsp;создании брендинга.
			+downloadLink('Скачать презентацию (PDF)')
	// end sHistory
	