mixin sHistoryText(...texts)
	each text in texts 
		p!= text

mixin sHistory(data)
	// start sHistory
	+b.SECTION.sHistory.section#sHistory&attributes(attributes)
		.container
			if data.ad
				+b.head-wrapper
					.row 
						+e.col.col-lg-6
							h2 Придаём брендам человеческое лицо,
							p помогая им&nbsp;адаптироваться и&nbsp;процветать в&nbsp;мире множества взаимосвязей
						.col-lg-6
							+pic('sHistory-bg', '', 0)
			block
			+downloadLink('Скачать презентацию (PDF)')
	// end sHistory