// start .sVision
.sVision {
		--sPT: 0 ;
		--sPB: 56px;
		--sTPB: 0;
	h2{
		text-align: left;
	}
	.container-fluid{
		padding-left: var(--bs-gutter-x,1.5rem);
		padding-right: var(--bs-gutter-x,1.5rem);
	}
	
	.row {
		--bs-gutter-x: 0.4rem;
	}
	.main-slider{
		@include media-breakpoint-up(sm) {

			margin-top: 55px;
		}
		margin-top: 16px;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sVision

.vision-item-wrapp{
	margin: 42px 0 0;
	@include media-breakpoint-down(sm) {
		margin-left: calc(-1 * var(--x-wide));
    margin-right: calc(-1 * var(--x-wide));
		// padding-left:   0 ;
		// padding-right:   0 ;
	}
	
	
	padding: 56px calc( 41px + 2rem ) 38px;
	background: $info;
}
.vision-item{
	max-width: 90%;
	margin-top: 14px;
	margin-bottom: 16px;
	.h3{
		margin: 16px 0 13px;
		@include media-breakpoint-down(sm) {
			font-size: 20px;
		}
	}
	p{
		font-size: 13px;
		@include media-breakpoint-down(sm) {
			font-size: 14px;
		}
		line-height: 1.8em;
		max-width: 440px;
	}
}
.span-wrapper{
	margin-bottom: 38px;
	font-size: 24px;
	color: #1F1D1D; // узнать есть стоит ли добавить его в варс
}

.text-wrapper{
	p{
		line-height: 2em;
		margin-top: 22px;
	}
}

.sHistory-wrap{
	margin-top: 55px;
	margin-bottom: -24px;
}

@include media-breakpoint-down(md) {
	.vision-item-wrapp{
		margin: 56px 0;
		padding: 40px 16px;
		margin-bottom: 48px;
	}
	.vision-item{
		max-width: 100%;
	}
	.span-wrapper{
		margin-bottom: 18px;
	}
}

@media (min-width:1140px) and ( max-width: 1341.98px){
	.vis-item-elem-4{
		max-width: 380px;
	}
}
