mixin sSearchServices(data)
	// start sSearchServices
	+b.sSearchServices.section#sSearchServices&attributes(attributes)
		.container
			+ddGroup()
				+ddGroupItem('Продвижение', '', 'Используя методики социальной психологии и&nbsp;личностный анализ, мы&nbsp;формируем ценностное предложение, которое в&nbsp;дальнейшем ложится в&nbsp;основу вербальных и&nbsp;визуальных коммуникаций, помогая бизнесу вести с&nbsp;людьми взаимовыгодный и&nbsp;результативный диалог.','active',' ')
					+ddContentList()
						+ddContent('Собираем и анализируем информацию')
						+ddContent('Формируем смысловое наполнение')
						+ddContent('Создаём структуру')
						+ddContent('Формируем принципы общения с аудиторией')
				+ddGroupItem('Потребительский брендинг', '', 'Мы&nbsp;уверены, что именно смысл является истинным преимуществом сильного бренда. А&nbsp;смыслы рождаются в&nbsp;сознании людей. Наш подход&nbsp;HX (human experience), сфокусированный на&nbsp;человеческих потребностях, эмоциях и&nbsp;восприятиях, обеспечивает взаимопонимание между бизнесом и&nbsp;потребителем.','active',' ')
					+ddContentList()
						+ddContent('Собираем и анализируем информацию')
						+ddContent('Формируем смысловое наполнение')
						+ddContent('Создаём структуру')
						+ddContent('Формируем принципы общения с аудиторией')
				+ddGroupItem('Стратегия', '', 'Мы уверены, что именно смысл является истинным преимуществом сильного бренда.  Наш подход обеспечивает взаимопонимание между бизнесом и потребителем.  ','active',' ')
					+ddContentList()
						+ddContent('Собираем и анализируем информацию')
						+ddContent('Формируем смысловое наполнение')
						+ddContent('Создаём структуру')
						+ddContent('Формируем принципы общения с аудиторией')
		+purePreloader()
	// end sSearchServices