mixin s404(data)
	// start s404
	+b.SECTION.s404.section.bg-wrap#s404&attributes(attributes)
		+pic('404-bg.jpg', 'bg', 0).picture-bg
		.container.text-center
			span 404
			h6 Страница не найдена 
			p Она никогда не существовала или её срок действия истёк
			a(href="#") Перейти на главную
	// end s404