mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid
			+e.row.row
				.col-auto
					+logo()
				.col
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+e.row-mobile.row
								//- +e.col-main.col 
								.col-lg-auto
										+mnu()
								.col-lg.order-lg-0.order-last
									+search()
								//- .col

								+e.col-mail.col-lg-auto
									a(href="mailto:info@ddvb.ru") info@ddvb.ru 
								.col-lg-auto.order-lg-last
									+e.btn(href="#") Оставить заявку
								.col-lg-auto
									+soc
				.col-auto.d-lg-none
					+menu-toggle()
	// end top-nav