mixin sVacAccardion(data)
	// start sVacAccardion
	+b.sVacAccardion.section#sVacAccardion&attributes(attributes)
		.container
			+ddGroup()
				+ddGroupItem('Арт-директор', 'Открыть на&nbsp;HeadHunter', 'Мы&nbsp;ищем сильного арт-директора! Человека, который может самостоятельно генерить концепты, следить за&nbsp;их&nbsp;воплощением в&nbsp;жизнь, презентовать ...')
					ul
						+ddContent('Опыт работы с супер-клиентами и ведения супер-проектов')
						+ddContent('Клиентоориентированность, самоорганизация и ответственность')
						+ddContent('Целеустремленность, способность самостоятельно принимать решения')
				+ddGroupItem('Менеджер в отдел развития', 'Открыть на&nbsp;HeadHunter', 'Кто не&nbsp;боится огня, воды и&nbsp;медных труб. Вам предстоит работать с&nbsp;новыми клиентами, полностью вести клиентов от&nbsp;первого контакта до&nbsp;момента ...')
					ul
						+ddContent('Опыт работы с супер-клиентами и ведения супер-проектов')
						+ddContent('Клиентоориентированность, самоорганизация и ответственность')
						+ddContent('Целеустремленность, способность самостоятельно принимать решения')
				+ddGroupItem('Руководитель проектов', 'Открыть на&nbsp;HeadHunter', 'Рассмотрим резюме всех супер-героев со&nbsp;следующими способностями:')
					ul
						+ddContent('Опыт работы с супер-клиентами и ведения супер-проектов')
						+ddContent('Клиентоориентированность, самоорганизация и ответственность')
						+ddContent('Целеустремленность, способность самостоятельно принимать решения')
						+ddContent('Впечатляющие презентационные навыки ')
						+ddContent('Стальные нервы')
						+ddContent('Активная жизненная позиция, коммуникабельность, оптимизм')
				+ddGroupItem('Копирайтер', 'Открыть на&nbsp;HeadHunter', 'Кто не&nbsp;боится огня, воды и&nbsp;медных труб. Вам предстоит работать с&nbsp;новыми клиентами, полностью вести клиентов от&nbsp;первого контакта до&nbsp;момента ...')
					ul
						+ddContent('Опыт работы с супер-клиентами и ведения супер-проектов')
						+ddContent('Клиентоориентированность, самоорганизация и ответственность')
						+ddContent('Целеустремленность, способность самостоятельно принимать решения')
				+ddGroupItem('Менеджер в отдел развития', 'Открыть на&nbsp;HeadHunter', 'Кто не&nbsp;боится огня, воды и&nbsp;медных труб. Вам предстоит работать с&nbsp;новыми клиентами, полностью вести клиентов от&nbsp;первого контакта до&nbsp;момента ...')
					ul
						+ddContent('Ассистент клиентского отдела')
						+ddContent('Клиентоориентированность, самоорганизация и ответственность')
						+ddContent('Целеустремленность, способность самостоятельно принимать решения')
				+ddGroupItem('Дизайнер-айдентист', 'Открыть на&nbsp;HeadHunter', 'Кто не&nbsp;боится огня, воды и&nbsp;медных труб. Вам предстоит работать с&nbsp;новыми клиентами, полностью вести клиентов от&nbsp;первого контакта до&nbsp;момента ...')
					ul
						+ddContent('Опыт работы с супер-клиентами и ведения супер-проектов')
						+ddContent('Клиентоориентированность, самоорганизация и ответственность')
						+ddContent('Целеустремленность, способность самостоятельно принимать решения')
	// end sVacAccardion