.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(24);
		&-youtube,
		&-behance{
			fill: none;
			stroke: currentColor;
			stroke-width: .8px;
		}
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.dd-group {
	&__item {
		position: relative;
		&:not(:first-child) {
			padding-top: rem(20);
			@include media-breakpoint-up(lg) {
				padding-top: rem(33);
			}
		}
		padding-bottom: rem(20);
		&:not(:last-child) {
			@include media-breakpoint-up(lg) {
				padding-bottom: rem(35);
			}
		}
		&:last-child {
			@include media-breakpoint-down(lg) {
				.dd-group::after {
					content: none;
				}
			}
		}
		&:not(:last-child) {
			&::after {
				position: absolute;
				content: "";
				display: block;
				height: 1px;
				bottom: 0;
				left: -50vw;
				width: 200vw;
				background-color: #c2c2c2;
				@include media-breakpoint-down(lg) {
					width: 100%;
					left: 0;
				}
			}
		}
		&.active {
			button {
				&::after {
					transform: translateX(-50%) rotate(180deg);
				}
			}
			.dd-group__wrraper {
				&::after {
					opacity: 0;
				}
				& > p {
					@include media-breakpoint-down(lg) {
						display: block;
						padding-top: rem(16);
					}
				}
			}
			&__content {
				display: block;
			}
		}
		h4 {
			margin-bottom: rem(24);
		}
		span {
			display: inline-block;
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(24);
			}
			&::before {
				content: "";
				display: inline-block;
				width: rem(16);
				height: rem(16);
				margin-right: rem(4);
				background-color: $primary;
				vertical-align: middle;
				background-image: url(../img/svg/chevron-right-sm.svg);
				background-position: center;
				background-repeat: no-repeat;
			}
		}
		&--service {
			&::after {
				position: absolute;
				content: "";
				display: block;
				height: 1px;
				bottom: 0;
				left: -50vw;
				width: 200vw;
				background-color: #c2c2c2;
				@include media-breakpoint-down(lg) {
					width: 100%;
					left: 0;
				}
			}
		}
	}
	&__row {
		@include media-breakpoint-up(lg) {
			align-items: center;
		}
	}
	&__content {
		display: none;
	}
	&__wrraper {
		max-width: rem(957);
		position: relative;
		& > p {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		&::after {
			@include mt;
			position: absolute;
			content: "";
			display: block;
			width: 100%;
			height: rem(108);
			bottom: 0;
			left: 0;
			// transition: all .3s ease;
			background-image: linear-gradient(360deg, $white 3.98%, hsla(0, 0%, 100%, 0) 65.33%);
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
	button {
		position: relative;
		border: none;
		background-color: $primary;
		width: rem(48);
		height: rem(48);
		border-radius: 50%;
		&::before {
			position: absolute;
			content: "";
			display: block;
			width: rem(18);
			height: rem(2);
			background-color: $dark;
			margin-left: auto;
			margin-right: auto;
			left: 50%;
			transform: translateX(-50%);
		}
		&::after {
			position: absolute;
			content: "";
			display: block;
			width: rem(18);
			height: rem(2);
			background-color: $dark;
			margin-left: auto;
			margin-right: auto;
			left: 50%;
			transform: translateX(-50%) rotate(90deg);
			transition: all 0.3s ease;
		}
	}
	ul {
		margin-bottom: 0;
		li {
			list-style-type: none;
			padding-left: rem(32);
			position: relative;
			color: #6C6C6C;
			&:not(:last-child) {
				margin-bottom: rem(11);
			}
			&::before {
				content: "";
				display: block;
				position: absolute;
				width: rem(8);
				height: rem(8);
				background-color: $primary;
				left: 8px;
				top: 50%;
				transform: translateY(-50%);
			}
			p {
				margin-bottom: rem(8);
				@include media-breakpoint-up(lg) {
					margin-bottom: 0;
				}
			}
		}
	}
}

.news-item {
	height: 100%;
	display: block;
	&:not(:hover) {
		color: $body-color;
	}
	picture {
		@include block(360, 213);
		margin-bottom: rem(16);
		margin-left: calc(-1 * var(--bs-gutter-x) / 2);
		margin-right: calc(-1 * var(--bs-gutter-x) / 2);
		background-image: url(../img/svg/no-photo.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-color: #F2F2F2;
		@include media-breakpoint-up(md) {
			margin-left: 0;
			margin-right: 0;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__date {
		font-size: rem(15);
		line-height: calc(24 / 15);
		color: $secondary-light;
	}
}

.page-head {
	.container {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			align-items: flex-end;
			flex-direction: row;
		}
		& > span {
			color: $secondary-light;
		}
	}
	h1 {
		margin-bottom: 0;
	}
	.filter {
		margin-top: rem(24);
		font-size: rem(22);
		display: flex;
		@include media-breakpoint-up(md) {
			margin-left: rem(48);
			margin-top: 0;
			font-size: rem(16);
		}
		&__link {
			display: inline-block;
			text-align: center;
			border-bottom: 2px solid $primary;
			width: 100%;
			// max-width: rem(154);
			padding: 0 0 rem(16);
			@include media-breakpoint-up(md) {
				width: auto;
				max-width: none;
				padding: 0;
				text-align: left;
			}
			&:hover {
				color: $secondary-light;
				border-bottom: 2px solid transparent;
			}
			&:last-child {
				margin-left: rem(11);
				@include media-breakpoint-up(md) {
					margin-left: rem(16);
				}
			}
			&--active {
				color: $secondary-light;
				border-bottom: 2px solid $secondary-light;
				@include media-breakpoint-up(md) {
					border-bottom: 2px solid transparent;
				}
			}
		}
	}
}

.download-link {
	display: inline-block;
	// margin-bottom: rem(40);
	// @include media-breakpoint-up(lg) {
	// 	margin-bottom: rem(48);
	// }
	.icon-doc-download {
		background-color: $primary;
		// padding: rem(5.75) rem(4) rem(5.75) rem(4);
		padding: 0 rem(5.75) 0 rem(5.75);
		fill: none;
		stroke: $black;
		font-size: rem(16);
		vertical-align: initial;
		min-width: rem(24);
		min-height: rem(24);
	}
	span {
		vertical-align: super;
		margin-left: rem(8);
	}
}

.content-wrrap {
	background-color: #F2F2F2;
	padding-top: rem(24);
	padding-bottom: rem(24);
	padding-left: rem(16);
	padding-right: rem(16);
	p {
		color: #6C6C6C;
	}
	&:not(:last-child) {
		margin-bottom: rem(8);
	}
	@include media-breakpoint-up(lg) {
		padding-left: rem(32);
	}
}

.spinner {
	width: rem(40);
	height: rem(40);
	
	border: rem(3) solid #F2F2F2;
	border-top: rem(3) solid $primary;
	border-radius: 100%;
	
	// position: absolute;
	// top:0;
	// bottom:0;
	// left:0;
	// right: 0;
	margin-top: rem(48);
	margin-left: auto;
	margin-right: auto;
	@include media-breakpoint-up(lg) {
		margin-top: rem(80);
	}
	animation: spin 1s infinite linear;
	@keyframes spin {
			from{
					transform: rotate(0deg);
			}to{
					transform: rotate(360deg);
			}
	}
}

.form-block {
	&__search {
		position: relative;
		padding-top: rem(32);
		@include media-breakpoint-up(lg) {
			padding-top: rem(24);
		}
		input {
			// background-color: #F2F2F2;
			border: none;
			margin-bottom: rem(4);
			padding-left: rem(22);
			@include media-breakpoint-up(lg)  {
				margin-bottom: rem(16);
				padding-left: rem(32);
			}
		}
		button {
			position: absolute;
			top: rem(35);
			right: rem(5);
			@include media-breakpoint-up(lg) {
				top: rem(27);
			}
			.icon {
				fill: none;
				stroke: $body-color;
				font-size: rem(24);
			}
		}
	}
	p {
		margin-bottom: rem(24);
		font-size: rem(14);
		color: $secondary-light;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(48);
			font-size: rem(16);
		}
	}
	ul {
		list-style-type: none;
		display: flex;
		margin-bottom: rem(16);
		position: relative;
    overflow: auto;
    padding-bottom: 10px;
		li {
			padding: 0 rem(16);
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		button {
			@include mt;
			padding: 0;
			border-bottom: 2px solid transparent;
			font-size: rem(22);
			@include media-breakpoint-up(lg) {
				font-size: rem(16);
			}
			&.active {
				border-bottom: 2px solid $primary;
			}
			&:hover {
				border-bottom: 2px solid $primary;
			}
		}
	}
	button {
		background-color: transparent;
		border: none;
	}
	&__error {
		text-align: center;
		max-width: rem(392);
		margin-left: auto;
		margin-right: auto;
		margin-top: rem(32);
		font-size: rem(13);
		@include media-breakpoint-up(lg) {
			margin-top: rem(72);
		}
	}
}

.main-slider {
	margin-bottom: rem(40 - 16);
	max-width: 1680px;
	--h: #{rem(599)};
	height: var(--h);  
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(80 - 17.5);
	}
	&__text-wrap {
		max-width: rem(382);
		top: 50%;
    position: absolute;
    transform: translateY(-50%);
		h2 {
			@extend .h1;
		}
		@include media-breakpoint-down(lg) {
		}
	}
	.swiper-wrapper{
		position: relative;
	}
	
	&__inner{ 
		position: absolute; 
		z-index: 3;
		top: 0; 
		z-index: 8;
		padding-top: 40px; 
		@include media-breakpoint-up(lg) {
		padding-top: 140px; 
		}
		width: 100%;
		height: var(--h); 
		@include mt(1s);
		transform-origin: center bottom;
		transform: translateY(calc(-1 * var(--slider-y) - var(--h)* var(--step)));
		// transform: translateY(0);
		// will-change: auto;
		// will-change:transform;
	}
	&__bg{
		// height: var(--h); 
		@include a-cent; 
		// z-index: calc((var(--step) + 1)  * 2 );
	} 
	&__slide {
		position: relative;
		// position: static !important;
		overflow: hidden;
		height: var(--h);
		display: flex;
		flex-direction: column;
		position: relative;
		@include media-breakpoint-up(lg) {
			justify-content: center;
			height: rem(720);
		}
	}
	&.swiper--service  {
		@include media-breakpoint-down(lg) {
			margin-bottom: 0;
		}
		.swiper-pagination {
			@include media-breakpoint-down(lg) {
				display: none;
			}
			.swiper-pagination-bullet {
				background-color: $white;
				border-color: $white;
			}
			.swiper-pagination-bullet-active {
				background-color: transparent;
			}
		}
		.main-slider__text-wrap {
			@include media-breakpoint-down(lg) {
				bottom: 0;
				top: auto;
				left: 0;
				transform: translateY(0);
				background-color: $white;
				padding-top: rem(24);
				padding-left: rem(16);
				padding-right: rem(16);
				max-width: none;
			}
		}
	}
	.swiper-slide {
		.main-slider__inner {
			opacity: 0;
		}
	}
	.swiper-slide-active {
		.main-slider__inner {
			opacity: 1;
		}
	}
}

.portfolio {
	.page-head {
		.container {
			padding-top: rem(40);
		}
	}
}