

mixin dropdown-item(text)
	.dropdown-item!= text

mixin serviceDropdown()
	+b.dropdown
		+e.BUTTON#dropdown-toggle.btn.btn.dropdown-toggle(type='button') Все отрасли
			+icon('chevron-down')
		.dropdown-menu#dropdown-menu
			+dropdown-item("Напитки")
			+dropdown-item("Мясные продукты")
			+dropdown-item("Молочные и НЕмолочные продукты")
			+dropdown-item("Бакалея и кондитерские изделия")
			+dropdown-item("Фармацевтика")
			+dropdown-item("Дети и здоровье")
			+dropdown-item("Финансы и девелопмент")
			+dropdown-item("Государственные организации и программы")
			+dropdown-item("Технологии")
			+dropdown-item("Товары и услуги для детей")
			+dropdown-item("Бытовая химия и товары для дома")
			+dropdown-item("Социально значимые проекты и госпрограммы")

mixin sServiceHead(data)
	// start sServiceHead
	+b.sServiceHead.section&attributes(attributes)
		.container
			+e.row.row
				block
	// end sServiceHead