// start .sServiceHead
.sServiceHead {
		--sPT: #{rem(16)};
		--sPB: #{rem(20)};
		// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(8)};
		--sPT: #{rem(17.5)};
	}
	&__download {
		display: inline-block;
		// margin-bottom: rem(40);
		// @include media-breakpoint-up(lg) {
		// 	margin-bottom: rem(48);
		// }
		.icon-doc-download {
			background-color: $primary;
			// padding: rem(5.75) rem(4) rem(5.75) rem(4);
			padding: 0 rem(5.75) 0 rem(5.75);
			fill: none;
			stroke: $black;
			font-size: rem(16);
			vertical-align: initial;
			min-width: rem(24);
			min-height: rem(24);
		}
		span {
			vertical-align: super;
			margin-left: rem(8);
		}
	}
	.dd-group {
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(20);
		}
		&__content {
			margin-left: calc((var(--bs-gutter-x) * -1 / 2));
			margin-right: calc((var(--bs-gutter-x) * -1 / 2));
			margin-top: rem(24);
			@include media-breakpoint-up(sm) {
				margin-left: 0;
				margin-right: 0;
				margin-top: rem(32);
			}
			p {
				margin-bottom: rem(8);
				@include media-breakpoint-up(lg) {
					margin-bottom: 0;
				}
			}
		}
	}
	&--for-what {
		padding-top: rem(32);
		@include media-breakpoint-up(lg) {
			padding-top: rem(80);
		}
		.services-description-text {
			margin-bottom: rem(32);
			font-size: rem(16);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(24);
			}
		}
		.services-list {
			margin-bottom: rem(56);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(28);
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sServiceHead
