//- mixin servicesItem(text) 
//- 	+e.LI.item
//- 		+e.BUTTON.btn&attributes(attributes)!= text

//- mixin servicesList()
//- 	.col
//- 		+b.UL.services-list
//- 			+servicesItem('Все услуги')
//- 			+servicesItem('Потребительский брендинг')
//- 			+servicesItem('Корпоративный брендинг')
//- 			+servicesItem('Стратегия').active
//- 			+servicesItem('Продвижение')

//- mixin servicesDescription(text)
//- 	.col-12
//- 		+b.P.services-description-text!= text

mixin sServiceHead(data)
	// start sServiceHead
	+b.sServiceHead.section#sServiceHead&attributes(attributes)
		.container
			.row
				block
	// end sServiceHead