// start .sServiceHead
.sServiceHead {
		--sPT: #{rem(16)};
		--sPB: #{rem(20)};
		// --sTPB: ;
	@include media-breakpoint-up(xl) {
		&__row{
			justify-content: space-between;
		}
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(8)};
		--sPT: #{rem(17.5)};
	}
	&__download {
		display: inline-block;
		// margin-bottom: rem(40);
		// @include media-breakpoint-up(lg) {
		// 	margin-bottom: rem(48);
		// }
		.icon-doc-download {
			background-color: $primary;
			// padding: rem(5.75) rem(4) rem(5.75) rem(4);
			padding: 0 rem(5.75) 0 rem(5.75);
			fill: none;
			stroke: $black;
			font-size: rem(16);
			vertical-align: initial;
			min-width: rem(24);
			min-height: rem(24);
		}
		span {
			vertical-align: super;
			margin-left: rem(8);
		}
	}
	@include media-breakpoint-down(md) {
		.content-wrrap{
			margin-left: calc((var(--bs-gutter-x) * -1 / 2));
			margin-right: calc((var(--bs-gutter-x) * -1 / 2)); 
		}
		.dd-group__content:not(.active){
			--ph: 0;
		}
	}
	.dd-group {
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(20);
		}
		&__content {
			// margin-top: rem(24);
			@include media-breakpoint-up(sm) {
				margin-left: 0;
				margin-right: 0;
				margin-top: rem(32);
			}
			li,
			p{
				line-height: 2;
			}
			p {
				// margin-bottom: rem(8);
				// @include media-breakpoint-up(lg) {
				// 	margin-bottom: 0;
				// }
			}
		}
	}
	&--for-what {
		position: relative;
		z-index: 5;
		padding-top: rem(32);
		@include media-breakpoint-up(lg) {
			padding-top: rem(80);
		}
		.services-description-text {
			margin-bottom: rem(32);
			font-size: rem(16);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(24);
			}
		}
		.services-list {
			margin-bottom: rem(56);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(28);
			}
		}
	}
	.dropdown {
		&__btn {
			display: block;
			position: relative;
			width: 100%;
			background-color: #F2F2F2;
			margin-top: rem(16);
			color: $secondary-light;
			text-align: left;
			padding-top: rem(5);
			padding-bottom: rem(5);
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			padding-right: 50px;
			@include media-breakpoint-up(md) {
				display: none;
			}
			&:after {
				content: none;
			}
			.icon {
				display: none;
				// position: absolute;
				// right: rem(10);
				// font-size: rem(24);
				// fill: none;
				// stroke: $body-color;
			}
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 5.5L7.5 10.5L2.5 5.5' stroke='%231F1D1D' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-position: calc(100% - 15px) 50%;
			background-size: 24px;
			background-repeat: no-repeat;
		}
		.dropdown-menu {
			min-width: auto;
			max-width: 100%;
			width: 100%;
			.dropdown-item {
				cursor: pointer;
				white-space: normal;
			}
			&.active {
				display: block;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(sm) {
		.dd-group{
			margin-bottom: 0;
			.dd-group__item:last-child:not(:first-child){
				padding-bottom: 0;
			}
		}
		.services-list{
			margin-bottom: 0;
		}
	}
} // end.sServiceHead

.services-description-text {
	font-size: rem(22);
	@include media-breakpoint-up(sm) {
		margin-bottom: rem(32);
	}
	margin-bottom: 16px;
	@include media-breakpoint-up(lg) {
		font-size: rem(24);
		margin-bottom: rem(56);
	}
}

.services-list {
	margin-bottom: rem(28);
	display: flex;
	flex-wrap: wrap;
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(48);
		margin-right: calc(138px - var(--x-wide));
	}
	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}
	&__item {
		list-style-type: none;
		// display: inline-flex;
		margin-bottom: em(5);
		align-self: flex-end;
		&:not(:last-child) {
			&:after {
				content: '/';
				padding-right: em(2);
				padding-left: em(2);
				// font-size: em(12);
				font-size: em(22);
				color: $light;
				@include media-breakpoint-up(lg) {
					font-size: em(26);
				}
			}
		}
	}
	&__link {
		@include mt;
		// display: inline-block;
		background-color: transparent;
		border: none;
		font-size: rem(22);
		padding: 0;
		border-bottom: 2px solid $primary;
		color: $body-color;
		&:hover {
			border-bottom-color: transparent;
			color: $light;
		}
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
		}
		&.active {
			border-bottom-color: transparent;
			color: $light;
		}
	}
	&--indent {
		margin-bottom: 0;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
		}
	}
	&--portfolio {
		display: none;
		@include media-breakpoint-up(md) {
			// display: block;
			display: flex;
		}
	}
}

.services-goods {
	display: flex;
	// flex-direction: column;
	flex-direction: row;
	align-items: center;
	@include media-breakpoint-down(sm) {
		padding-left: calc(33px - 16px);
	}
	@include media-breakpoint-up(sm) {
		margin-bottom: rem(56);
	}
	span {
		&:first-child {
			@include media-breakpoint-down(sm) {
				width:160px;
			}
			@media (min-width: 1400px) {
				font-size: rem(64);
			}
			font-size: rem(58);
			color: #EDC228;
			@include media-breakpoint-up(sm) {
				margin-right: rem(15);
			}
		}
		&:last-child {
			font-size: rem(16);
			max-width: rem(94);
			@include media-breakpoint-up(sm) {
				font-size: rem(14);
				margin-top: rem(20);
			}
		}
	}
	&--indent {
		margin-bottom: rem(40);
		@include media-breakpoint-up(sm) {
			margin-bottom: 0;
		}
	}
}