// start .sTeam
.sTeam {
		--sPT: 0;
		--sPB: 0;
		--sTPB: #{rem(10)} ;
	p{
		// line-height: 2em;
	}
	.head-wrapper{
		margin-top: rem(50);
	}
	@media (max-width: 575.98px){
		.head-wrapper{
			margin-right: -16px;
			margin-left: -16px;
		}
	}
	@media (max-width: 402.98px){
		.team-card-w{
			margin-right: -24px;
			margin-left: -24px;
		}
		.team-card{
			p, &__title{
				margin-left: 16px;
			}
			&__quote{
				p{
					margin-left: 0;
				}
			}
		}
	}
	.container-fluid{
		padding-left: var(--bs-gutter-x,1.5rem);
		padding-right: var(--bs-gutter-x,1.5rem);
	}
	
	.row {
		--bs-gutter-x: 0.4rem;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTeam

.team-card{
	&__title{
		margin-top: 24px;
	}
	p{
		color: $secondary-light;
		font-size: 13px;
	}
	position: relative;
}

.team-card__i-w{
	position: relative;
	img{
		filter: saturate(0);
		transition: all 0.45s ease-in-out;
		width: 100%;
		position: relative;
		z-index: -5;
	}
	.team-card__quote{
		position: absolute;
		padding: 0 24px 16px;
		bottom: 0;
		opacity: 0;
		transition: opacity 0.45s ease-in-out;
		svg{
			color: #fff;
		}
		p{
			font-size: 16px;
			font-weight: 600;
			color: $white;
		}
	}
	&::before{
		content: '';
		background: rgba(#E3B200, 0.75);
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		transition: opacity 0.45s ease-in-out;
	}
}

.team-card__i-w:hover{
	cursor: pointer;
	&::before{
		opacity: 1;
	}
	.team-card__quote{
		opacity: 1;
		&::before{
			content: '';
			display: block;
			background: url('svg/quote-white.svg') center center no-repeat;
			width: 24px;
			height: 24px;
		}
	}
}

@media (max-width: 991.98px){
	.team-card{
		&__title{
			margin-top: 16px;
		}
		p{
			margin-bottom: 48px;
		}
		&__quote{
			p{
				margin-bottom: 0;
			}
		}
	}
}