include ../sHistory/_sHistory.pug

mixin sTeam(data)
	// start sTeam
	+b.SECTION.sTeam.section#sTeam&attributes(attributes)
		.container
			+b.section-title
				if data.ad
					+sHistory-yell
					.row 
						.col 
							p 
								| DDVB насчитывает более 150 наград престижных конкурсов в
								| области брендинга, дизайна и&nbsp;рекламы, а&nbsp;также 
								| ряда публикаций в&nbsp;профильных зарубежных СМИ.
				else 
					.row 
						.col 
							.none-yell-wrapp 
								p 
									| DDVB насчитывает более 150 наград престижных конкурсов в
									| области брендинга, дизайна и&nbsp;рекламы, а&nbsp;также 
									| ряда публикаций в&nbsp;профильных зарубежных СМИ.
		.container-fluid 
			.human-card-wrapper
				.row 
					mixin human-card(i, name, who, quote)
						.col-12.col-lg-4
							.human-card.mx-auto
								.i-wrapper 
									img(src=`img/@2x/human-${i}.jpg`, alt= name)
									.quote 
										+icon('quote-white')
										p= quote
								span= name 
								p= who
					+human-card('1','Дмитрий Пёрышков','Креативный директор и со-владелец','Мы убеждены, что любой бренд живет в нескольких измерениях, главным из которых является человеческое — потому что бренды создаются людьми и для людей')
					+human-card('2','Леонид Фейгин','Креативный директор и со-владелец','Мы убеждены, что любой бренд живет в нескольких измерениях, главным из которых является человеческое — потому что бренды создаются людьми и для людей')
					+human-card('3','Светлана Смирнова','Креативный директор и со-владелец','Мы убеждены, что любой бренд живет в нескольких измерениях, главным из которых является человеческое — потому что бренды создаются людьми и для людей')

	// end sTeam